@import url("https://fonts.googleapis.com/css?family=Ubuntu:500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lora:700&display=swap");

:root {
  font-size: 15px;
}

html,
body {
  height: 100%;
}

body {
  --color-intro-bg: #0e0e0e;
  --color-intro-title: #fff;
  --color-enter: #fff;
  font-family: "Ubuntu", sans-serif;
}

main {
  width: 100%;
  height: 100%;
  position: relative;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  align-items: center;
  overflow: hidden;
}

.content,
.content__move {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  align-items: center;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: center;
}

.content__move {
  overflow: hidden;
  background: var(--color-intro-bg);
}

.content--first {
  position: relative;
}

.content--second {
  align-items: center;
  justify-items: center;
  grid-template-rows: auto 40vh 20vh auto;
}

.intro {
  position: relative;
  display: grid;
  grid-template-rows: auto 40vh 20vh auto;
  grid-template-columns: 100%;
  align-items: center;
  justify-items: center;
  width: 100%;
  height: 100vh;
}

.intro__enter {
  background-color: transparent;
  border: 0;
  color: var(--color-enter);
  outline: none;
  font-weight: 500;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  position: relative;
  will-change: transform;
  grid-row: 3;
  padding: 0;
  grid-column: 1;
  cursor: pointer;
}

.intro__enter::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: white;
  transform: scale3d(0, 1, 1);
  opacity: 0;
  top: calc(100% + 0.2rem);
  left: 0;
  transform-origin: 0 50%;
  transition: opacity 0.3s, transform 0.3s;
}

.intro__enter:hover::after {
  opacity: 1;
  transform: scale3d(1, 1, 1);
}

.intro__title {
  margin: 0;
  color: var(--color-intro-title);
  font-size: 8vw;
  font-family: serif;
  font-weight: 700;
  grid-row: 2 / span 2;
  grid-column: 1;
  position: relative;
}

.intro__title span {
  display: inline-block;
  white-space: pre;
}

.intro__img {
  background-position: 50% 0;
  background-size: cover;
  width: 320px;
  height: 100%;
  max-height: 600px;
  grid-row: 2 / span 2;
  grid-column: 1;
}

.content__title {
  margin: 0;
  color: #000;
  font-size: 8vw;
  font-family: serif;
  font-weight: 700;
  grid-column: 1;
  grid-row: 2 / span 2;
  position: relative;
}

.content__leave {
  background-color: transparent;
  border: 0;
  color: #000;
  outline: none;
  font-weight: 500;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  position: relative;
  will-change: transform;
  grid-row: 3;
  padding: 0;
  grid-column: 1;
  cursor: pointer;
}

.content__hidden {
  pointer-events: none;
}

.content__leave::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: #000;
  transform: scale3d(0, 1, 1);
  opacity: 0;
  top: calc(100% + 0.2rem);
  left: 0;
  transform-origin: 0 50%;
  transition: opacity 0.3s, transform 0.3s;
}

.content__leave:hover::after {
  opacity: 1;
  transform: scale3d(1, 1, 1);
}

.content__reverse {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  will-change: transform;
}
